*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, .time, .left , .right , .right-top , .right-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 80vh;
    background-color: rgb(3, 8, 46);
}

.digital-clock, .time , .right, .right-top , .right-down{
    position: relative;
}

.digital-clock{
    color: rgb(221, 221, 221);
    background-color: black;
    width: 425px;
    padding: 20px 45px;
    /* box-shadow: 0px 5px 25px rgb(0, 0, 0); */
    border-radius: 20px;

}



.digital-clock::before{
    content: "";
    position: absolute;
    background: linear-gradient(45deg, blue, orange , green);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(30px);
    animation: glowing 2s ease-in infinite;
}
@keyframes glowing {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }

}

#hours{
    font-weight: 600px;
    padding: 0 10px;
    line-height: 125px;
    font-size:  8em;
    background: -webkit-linear-gradient(90deg, blue, white);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right{
    flex-direction: column;
    
}

#dots{
    font-size:  4em;
    transform: translateY(-3px);
    color: grey;
}

#minutes{
    font-size: 5em;
    font-weight: 500;
    margin-left: 10px;
    transform: translateY(10px);
    background: -webkit-linear-gradient(90deg, rgb(111, 17, 152), white);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-down{
    margin-left: 10px;
    transform: translateY(-25px); 
}


#period, #seconds{

    font-size: 1.8em;
    font-weight: 500;
    margin-left: 10px;
    transform: translateY(15px); 
     
}

#period{
    color:orange;
    padding-left: 5px;
}

#seconds{
    color: white;
}